<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/divider.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/breadcrumb.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/form.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/header.css">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/table.css">
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/message.css">
</head>

<nav style="margin-bottom:5%">
    <div class="ui breadcrumb">
      <a href="/" class="section">Home</a>
      <i class="right angle icon divider"></i>
      <a href="{% url 'listCensus' %}" class="active section">Census</a>
	  <i class="right angle icon diver"></i>
	  <a href="{% url 'viewVoting' %}?id={{ census.id }}" class="waves-effect waves-light btn">View Voting</a>
	  <i class="right angle icon diver"></i>
	  <a href="" class="active section">Move Voters</a>
    </div>
</nav>

<div class="ui icon message" style="width:80%">
  <i class="info icon"></i>
  <div class="content">
    <div class="header">
      Are you sure you want to move the voters in this voting?
    </div>
    <p>All of the following related voters will be copied an added to the voting you select</p>
  </div>
</div>

<h4>You are watching the voting: {{voting_id}}</h4>

<p>In this voting there are the next voters: {{voters}}</p>

<p>You can move the voters to these existing votings: {{votings}}</p>

<p>Or you can move them to a new voting</p>

<div class="ui icon message" style="width:80%">
  <i class="exclamation icon"></i>
  <div class="content">
    <div class="header">
      Be careful!
    </div>
    <p>This action cannot be undone</p>
	<p>If you want to revert it, you will have to delete every new census created one by one by yourself</p>
  </div>
</div>

<form action="{% url 'moveVoters' %}" method="get" class="ui form container">
    <div class="field">
      <h4>Enter the number of the voting to which you want to move the voters</h4>
        <input type="number" name="voting_id" placeholder="{{census.voting_id}}" style="width:80%"/>
    </div>
    </br>
    </br>
    <input type="hidden" name="id" value="{{census.id}}" />
	<input type="hidden" name="voters" value="{{voters}}"/>
	<input type="hidden" name="votings" value="{{votings}}"/>
    <button class="ui primary button" type="submit">Move voters</button> 
    <a class="ui button" href="{% url 'viewVoting' %}?id={{ census.id }}" >Back</a>
</form> 






